.eventContainer {
   background-color: #38206c;
   width: 100%;
   height: auto;
   margin-top: 8%;
   padding: 10px;

}

.eventContent {
   width: 60%;
   margin: 0% auto;
   margin-bottom: 10px;
}


.eventContent .header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-top: 20px;
}

.eventContent .header h1:nth-child(1) {
   font-size: 1em;
   color: orange;
   font-family: sans-serif;
}

.eventContent .header h1:nth-child(2) {
   font-size: 1.9em;
   color: #fff;
   font-family: sans-serif;
   margin-top: 5px;
}

.eventGrid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 6%;
   gap: 5%;
}

.eventGrid .photo {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #fff;
   padding: 10px;
}

.eventGrid .photo .img {
   height: auto;
   width: 75%;
   
}

.eventGrid .photo p {
   color: #000;
   font-size: 1em;
   font-family: sans-serif;
   margin-top: 10px;
   text-align: center;
}
.eventGrid .photo button {
   background-color: #38206c;
   padding: 10px;
   margin-top: 10px;
   color: #fff;
   border: none;
}

.btnAction {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3%;
}

.btnAction .btn1 {
   background-color: rgb(236, 187, 96);
   margin: 15px;
   width: 70px;
   height: 40px;
   color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
   cursor: pointer;
}

.btnAction .btn1:nth-child(1) {
   background-color: #000;
   color: #fff;
}

@media (max-width:700px) {
   .eventContent {
      width: 90%;
   }


   .eventContent .header h1:nth-child(1) {
      font-size: 0.95em;
   }

   .eventContent .header h1:nth-child(2) {
      font-size: 1.7em;
   }

   .eventGrid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 4%;
   }
   
   .eventGrid .photo p {
      font-size: 0.95em;
      margin-top: 10px;
      text-align: center;
   }
   .btnAction .btn1 {
      margin: 15px;
      width: 60px;
      height: 40px;
   }
}