.aboutContainer {
   width: 60%;
   margin: 5% auto;
   margin-bottom: 0;
   padding: 0;
}

.aboutHeader {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 5%;
}

.aboutHeaderContent {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.aboutHeaderContent h1:nth-child(1) {
   font-size: 1em;
   color: orange;
   font-family: sans-serif;
}


.aboutHeaderContent h1:nth-child(2) {
   font-size: 1.9em;
   color: #000;
   font-family: sans-serif;
   margin-top: 5px;
}

.aboutImageContainer {
   width: 100%;
}

.aboutImageContainer .aboutImg {
   height: auto;
   width: 100%;
   margin-top: 20px;
   filter: brightness(50%);
   border-radius: 5px;
}

.description {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 10px;
}


.description .header h1 {
   font-family: sans-serif;
   font-size: 1.9em;
}

.des {
   margin-top: 20px;
}

.des p {
   font-family: sans-serif;
   font-size: 1em;
   font-weight: 100;
}

.cta {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.cta button {
   width: 200px;
   height: 50px;
   background: none;
   color: orange;
   border: 1px solid orange;
   cursor: pointer;
   font-weight: 700;
   border-radius: 5px;
   font-size: 1em;
}

.cta button:hover {
   background-color: orange;
   color: #fff;
}

@media (max-width:700px) {
   .aboutContainer {
      width: 90%;
      margin: 10% auto;
   }

   .aboutHeader {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5%;
   }

   .aboutHeaderContent h1:nth-child(1) {
      font-size: 0.9em;
   }

   .aboutHeaderContent h1:nth-child(2) {
      font-size: 1.7em;
   }


   .description .header h1 {
      font-family: sans-serif;
      font-size: 1.7em;
   }

   .des {
      margin-top: 15px;
   }

   .des p {
      font-size: 0.95em;
   }

   .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
   }

   .cta button {
      width: 160px;
      height: 45px;
      font-size: 1em;
   }
}

/*Desktop 1024 x 600 - 768*/
@media (min-width:1024px) and (max-width: 1024px) and (min-height:600px) and (max-height:768px) {
   .aboutContainer {
      width: 85%;
      margin: 7% auto;
   }

   .aboutHeaderContent h1:nth-child(1) {
      font-size: 1em;
   }


   .aboutHeaderContent h1:nth-child(2) {
      font-size: 1.6em;
   }

   .aboutImageContainer .aboutImg {
      height: auto;
      width: 100%;
   }

   .description .header h1 {
      font-size: 1.6em;
   }

   .des p {
      font-size: 1em;
   }

   .cta button {
      width: 200px;
      height: 50px;
      font-size: 1em;
   }

}


/*Desktop 1280 - 1440 x 768 - 900 */
@media (min-width:1280px) and (max-width: 1440px) and (min-height:768px) and (max-height:900px) {
   .aboutContainer {
      width: 85%;
      margin: 7% auto;
   }

   .aboutHeaderContent h1:nth-child(1) {
      font-size: 1.1em;
   }


   .aboutHeaderContent h1:nth-child(2) {
      font-size: 1.7em;
   }

   .aboutImageContainer .aboutImg {
      height: auto;
      width: 100%;
   }

   .description .header h1 {
      font-size: 1.7em;
   }

   .des p {
      font-size: 1.1em;
   }

   .cta button {
      width: 200px;
      height: 55px;
      font-size: 1.1em;
   }

}


/*Desktop 1680 - 1920 x 1050 - 1200  */
@media (min-width:1680px) and (max-width: 1920px) and (min-height:1050px) and (max-height:1200px) {
   .aboutContainer {
      width: 80%;
      margin: 7% auto;
   }

   .aboutHeaderContent h1:nth-child(1) {
      font-size: 1.3em;
   }


   .aboutHeaderContent h1:nth-child(2) {
      font-size: 1.9em;
   }

   .aboutImageContainer .aboutImg {
      height: auto;
      width: 100%;
   }

   .description .header h1 {
      font-size: 1.9em;
   }

   .des p {
      font-size: 1.3em;
   }

   .cta button {
      width: 230px;
      height: 60px;
      font-size: 1.2em;
   }
}


/*Desktop 2560 -  x 1440 -   */
@media (min-width:2560px) and (max-width: 2560px) and (min-height:1440px) and (max-height:1440px) {
   .aboutContainer {
      width: 80%;
      margin: 7% auto;
   }

   .aboutHeaderContent h1:nth-child(1) {
      font-size: 1.5em;
   }


   .aboutHeaderContent h1:nth-child(2) {
      font-size: 2.2em;
   }

   .aboutImageContainer .aboutImg {
      height: auto;
      width: 100%;
   }

   .description .header h1 {
      font-size: 2.2em;
   }

   .des p {
      font-size: 1.5em;
   }

   .cta button {
      width: 260px;
      height: 75px;
      font-size: 1.5em;
   }
}

/*Desktop 3840 - 4096  x 2160 - 2304 */
@media (min-width:3840px) and (max-width: 4096px) and (min-height:2160px) and (max-height:2304px) {
   .aboutContainer {
      width: 75%;
      margin: 7% auto;
   }

   .aboutHeaderContent h1:nth-child(1) {
      font-size: 1.7em;
   }


   .aboutHeaderContent h1:nth-child(2) {
      font-size: 2.7em;
   }

   .aboutImageContainer .aboutImg {
      height: auto;
      width: 100%;
   }

   .description .header h1 {
      font-size: 2.7em;
   }

   .des p {
      font-size: 2em;
   }

   .cta button {
      width: 300px;
      height: 95px;
      font-size: 1.7em;
   }
}


/*Desktop 5120 -   x 2880 -  */
@media (min-width:5120px) and (max-width: 5120px) and (min-height:2880px) and (max-height:2880px) {
   .aboutContainer {
      width: 70%;
      margin: 7% auto;
   }

   .aboutHeaderContent h1:nth-child(1) {
      font-size: 2em;
   }


   .aboutHeaderContent h1:nth-child(2) {
      font-size: 3.5em;
   }

   .aboutImageContainer .aboutImg {
      height: auto;
      width: 100%;
   }

   .description .header h1 {
      font-size: 3.5em;
   }

   .des p {
      font-size: 2.3em;
   }

   .cta button {
      width: 350px;
      height: 125px;
      font-size: 2em;
   }
}